.trainings{
    height: calc(100vh - 63px);
    background-color: #0A233F;
}

.trainings__container{
    padding: 15px;
    padding-top: 40px;
    display: grid;
    grid-template-rows: 2fr 2fr 10fr;
    height: 100%;
}
.trainings__nav{
    display: flex;
    align-items: start;
    justify-content: center;
    min-height: 80px;
}
.trainings__nav-container{
    display: flex;
    border-radius: 15px;
    border: 1px solid #00D8FF;

}
.trainings__nav-item-text{
    padding: 10px;
    color: white;
}
.trainings__filters{
     display: flex;
    align-items: start;
    justify-content: center;
    min-height: 60px;
}
.trainings__filters-container{
    display: flex;
    gap: 15px;
    width: 100%;
  
}
.trainings__filters-search{
    display: grid;
    justify-content: center;
      height: 42px;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    background-color: #162B46;
}
.trainings__filters-search-loop{
    display: flex;
    justify-content: center;
}
.trainings__filters-search-reset{
    display: flex;
    justify-content:center;
    align-items: center;
}
.trainings__filters-sort{
      height: 42px;
    border: 1px solid grey;
     background-color: #162B46;
      display: flex;
    justify-content: center;
    align-items: center;
}
.trainings__filters-sort-container{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.trainings__filters-sort-text{
    color: #828B98;
}

.trainings__list{
    display: flex;
    align-items: start;
    width: 100%;
   
}
.trainings__list-container{
    border-top: 1px solid #828B98;
    width: 100%;
     height: 100%;
      max-height: calc(100vh - 63px - 200px);
}
.trainings__list-main{
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow-y: scroll;
    -ms-overflow-style: none;  
  scrollbar-width: none;  
}
.trainings__list-item{
    display: flex;
    align-items: center;
    gap: 15px;
}
.iconn{
    border-radius: 50%;
    background-color: black;
    height: 40px;
    width: 40px;
}
.trainings__list-item-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.trainings__list-item-name{
    color: white;
   
}
.trainings__list-item-down{
    display: flex;
    gap: 10px;
}

.trainings__list-item-level{
    font-size: 14px;
    color:#00D1FF;
    padding-right: 10px;
}
.trainings__list-item-level-outer{
    border-right:1px solid grey ;
}
.trainings__list-item-trainer{
     font-size: 14px;
    color:#828B98;
    padding-right: 10px;
    
}
